<div ng-controller="MetadataCompareController as vm">
  <h2>Metadata Compare</h2>
  <alert ng-if="vm.error" type="danger" close="vm.error = null">{{vm.error}}</alert>
  <form style="margin: 10px 0">
    <div class="form-group form-group-lg">
      <label>Metadata 1</label>
      <input type="url" class="form-control" ng-model="vm.metadata1" placeholder="metadata URL 1">
    </div>
    <div class="form-group form-group-lg">
      <label>Metadata 2</label>
      <input type="url" class="form-control" ng-model="vm.metadata2" placeholder="metadata URL 2">
    </div>
    <button class="btn btn-primary" ng-disabled="vm.loading" ng-click="vm.submit(vm.metadata1, vm.metadata2)">Submit</button>
    <div ng-show="vm.gridData && vm.gridData.length" class="form-group">
      <label>Filter entity type</label>
      <select ng-model="vm.filterType" ng-change="vm.filterMetadata(vm.filterType)" class="form-control">
        <option value="">All</option>
        <option value="SP">SP</option>
        <option value="IdP">IdP</option>
        <option value="AA">AA</option>
      </select>
    </div>
  </form>
  <div ui-grid="vm.gridOpts" style="width:100%;height:600px" ui-grid-selection ui-grid-exporter ui-grid-auto-resize></div>
  <div ui-grid="vm.statsOpts" style="width:100%;height:600px" ui-grid-grouping ui-grid-exporter ui-grid-auto-resize></div>

  <script type="text/ng-template" id="metadata-modal.html">
    <div class="modal-header">
      <h3 class="modal-title">Metadata for {{vm.entityId}}</h3>
    </div>
    <div class="modal-body">
      <div class="metadata-xml" hljs source="vm.data" language="xml"></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$dismiss()">Close</button>
    </div>
  </script>
</div>
