<div ng-controller="MetadataCompareController as vm">
  <h2>Metadata Compare</h2>
  <form style="margin: 10px 0">
    <div class="form-group form-group-lg">
      <label>Metadata 1</label>
      <input type="url" class="form-control" ng-model="vm.metadata1" placeholder="metadata URL 1">
    </div>
    <div class="form-group form-group-lg">
      <label>Metadata 2</label>
      <input type="url" class="form-control" ng-model="vm.metadata2" placeholder="metadata URL 2">
    </div>
    <button class="btn btn-primary" ng-disabled="vm.loading" ng-click="vm.submit(vm.metadata1, vm.metadata2)">Submit</button>
    <div ng-show="vm.stats" class="form-group">
      <label>Filter entity type</label>
      <select ng-model="vm.filterType" ng-change="vm.compareMetadata(vm.m1, vm.m2, vm.filterType)" class="form-control">
        <option value="">All</option>
        <option value="SP">SP</option>
        <option value="IdP">IdP</option>
        <option value="AA">AA</option>
      </select>
    </div>
  </form>
  <div ui-grid="vm.gridOpts" style="width:100%;height:600px" ui-grid-auto-resize></div>
  <table class="table table-bordered table-striped">
    <tr>
      <th></th>
      <th>Metadata 1</th>
      <th>Both</th>
      <th>Metadata 2</th>
    </tr>
    <tr>
      <th>Count</th>
      <td>{{vm.stats.m1 || 0}}</td>
      <td>{{vm.stats.both || 0}}</td>
      <td>{{vm.stats.m2 || 0}}</td>
    </tr>
    <tr ng-repeat="domain in vm.stats.domains.all">
      <th>{{domain}}</th>
      <td>{{vm.stats.domains.m1[domain].length || 0}}</td>
      <td>{{vm.stats.domains.both[domain].length || 0}}</td>
      <td>{{vm.stats.domains.m2[domain].length || 0}}</td>
    </tr>
  </table>
</div>
